@model Attendance.Models.Entities.CardLoginHistory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CardLoginHistory</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Card.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginDate)
        </dt>

        <dd>
            @Model.LoginDate.ToShamsi('s')
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSuccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSuccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExitDate)
        </dt>

        <dd>
            @Model.ExitDate.ToShamsi('s')
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverName)
        </dd> 

        <dt>
            @Html.DisplayNameFor(model => model.CarNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalLoad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalLoad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Model.CreationDate.ToShamsi('s')
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Model.LastModifiedDate.ToShamsi('s')
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
