@model IEnumerable<Attendance.Models.Entities.CardLoginHistory>

@{
    ViewBag.Title = "فهرست ورودهای خارج نشده";

    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <br />

    <form method="get" action="indexnotexit">
        <div class="form-group">
            @Html.Label("تاریخ", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="text" id="date" class="k-textbox" name="date" value="@ViewBag.date"
                       onclick="PersianDatePicker.Show(this,'@DateTime.Now.ToShamsi('a')');" />
            </div>
            <div class="">
                <button type="submit">جستجو</button>
            </div>
        </div>
    </form>

</div>
<br />
@(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
                                    columns.Bound(model => model.Card.Code).Width(200);
        columns.Bound(item => @item.Id).Title("تاریخ ورود").Filterable(false).Groupable(false)
							.Template(@<text>
									@item.LoginDate.ToShamsi('s')
									</text>).Width(200);
                                    columns.Bound(model => model.Driver.FullName).Width(200);

	                  columns.Bound(item => @item.Id).Title("تاریخ خروج").Filterable(false).Groupable(false)
							.Template(@<text>
									@(item.ExitDate.ToShamsi().Equals("")?"خارج نشده":item.ExitDate.ToShamsi('s'))
									</text>).Width(200);
	    columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
							.Template(@<text>
									@Html.ActionLink("جزییات", "LoginHistoryDetials","Cards", new {id = @item.Id}, new {@class = "k-button"})
									@Html.ActionLink("ثبت ورود و خروج پیاده", "index","WalkingLoginHistories", new {id = @item.Id}, new {@class = "k-button"})
							           </text>).Width(200);
		})
		.ToolBar(toolbar =>
					{

					}
		)        .Filterable().Sortable()
		.DataSource(dataSource => dataSource
									.Server()

									.Model(model => model.Id(item => item.Id))
					)
	)


@section scripts {
    <script>


        $(document).ready(function () {
              $("#Card_Day").val("@Html.Raw(ViewBag.day)").change();
        $('#Card_Day').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            document.location = "/CardLoginHistories/IndexNotExit?day=" + valueSelected;
        });
        })
    </script>
}