
@model IEnumerable<Attendance.Models.Entities.CardLoginHistory>

@{
    ViewBag.Title = "فهرست ورودهای خارج نشده";

    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
    var card = (Attendance.Models.Entities.Card)ViewBag.card;
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <br />

    <form method="get" action="indexnotexit">
        <div class="form-group">
            @Html.Label("کارت", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @*<input type="text" id="date" class="k-textbox" name="date" value="@ViewBag.date"
        onclick="PersianDatePicker.Show(this,'@DateTime.Now.ToShamsi('a')');" />*@
                <select id="DriverId" name="DriverId" class="DriverSelect form-control k-select" required>
                    <option id="@card.Id">@card.DisplayCode</option>
                </select>
            </div>  
        </div>
        <div class="form-group">
            <div class="result"></div>
            @*<a class="k-button"
                   href="/CarStatusHistories/index/7c3eee6f-812e-447f-a402-95b81f04b94f"
                   >تاریخچه فعال/غیرفعال</a>
                @Html.ActionLink("جزییات", "LoginHistoryDetials", "Cards", new { id = @item.Id }, new { @class = "k-button" })
                @Html.ActionLink("ثبت ورود و خروج پیاده", "index", "WalkingLoginHistories", new { id = @item.Id }, new { @class = "k-button" })*@
        </div>
    </form>
</div>
<br />

@section scripts {
    <script src="~/Scripts/select2.min.js"></script>
    <script> 
        $(document).ready(function () {
              @*$("#Card_Day").val("@Html.Raw(ViewBag.day)").change();
        $('#Card_Day').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            document.location = "/CardLoginHistories/IndexNotExit?day=" + valueSelected;
        });*@




            var selData = $(".DriverSelect").select2({
                ajax: {
                    url: '/cards/GetCardList',
                    data: function (params) {
                        return {
                            q: params.term// search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            dropdownParent: $(".DriverSelect"),
                            results: $.map(data.items, function (obj) {
                                return {
                                    id: obj.Id, text: obj.Text // <- this is what was done to fix the issue
                                };
                            })
                        };
                    },
                    initSelection: function (element, callback) {
                        var data = { id: element.val(), text: element.val() };
                        callback(data);
                    }
                }
            });

            $('.DriverSelect').on("change", function (e) {

                var lastValue = e.currentTarget.value;
                var lastText = e.currentTarget.textContent;
                $.post("/Cards/GetCardList",
                    {
                        q: lastValue
                    },
                    function (data, status) {
                        //alert("Data: " + data + "\nStatus: " + status);
                        //id = card id
                        var btn1 = '<a class="k-button" href =' +
                            '"/Cards/LoginHistoryDetials?id=' + data.items[0].Id + '" target="_blank"> جزییات</a >';
                        var btn2 = '<a class="k-button" href =' +
                            '"/WalkingLoginHistories/index?cardId=' + data.items[0].Id + '" target="_blank"> ثبت ورود و خروج پیاده</a >';
                        $('.result').html(btn2)
                    });
            });

        })
    </script>
}