@model IEnumerable<Attendance.Models.Entities.CardLoginHistory>

@{
    ViewBag.Title = "فهرست ";

    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
                                    columns.Bound(model => model.Card.Code).Width(200);
        columns.Bound(item => @item.Id).Title("تاریخ ورود").Filterable(false).Groupable(false)
							.Template(@<text>
									@item.LoginDate.ToShamsi('s')  
									</text>).Width(200);
        columns.Bound(item => @item.Id).Title("نام راننده").Filterable(false).Groupable(false)
							.Template(@<text>
									@item.Driver.FirstName &nbsp; @item.Driver.LastName
									</text>).Width(200);
	    columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
							.Template(@<text>
									@Html.ActionLink("ویرایش", "Edit", new {id = @item.Id}, new {@class = "k-button"})
									@Html.ActionLink("حذف", "Delete", new {id = @item.Id}, new {@class = "k-button"})
									</text>).Width(200);
		})
		.ToolBar(toolbar =>
					{
						toolbar.Custom().Action("Create","CardLoginHistorys").Text("افزودن");
					}
		)        .Filterable().Sortable()
		.DataSource(dataSource => dataSource
									.Server()

									.Model(model => model.Id(item => item.Id))
					)
	)
