
 
<!DOCTYPE html> 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
    <link href="~/Content/admin/app.v2.css" rel="stylesheet" />
    <script src="~/Scripts/AdminJS/app.v2.js"></script>

    <!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->

    <link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/Admin/admin-font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Admin/PersianDatePicker.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script src="~/Scripts/AdminJS/PersianDatePicker.min.js"></script>
    <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <script src="@Url.Content("~/Scripts/kendo/2017.3.913/jquery.min.js")"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <script src="@Url.Content("~/Scripts/kendo/2017.3.913/jszip.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/kendo/2016.2.504/kendo.all.min.js")"></script>*@
    <script src="~/Scripts/kendo/2017.3.913/kendo.all.min.js"></script>

     
    <script src="@Url.Content("~/Scripts/kendo/2017.3.913/kendo.aspnetmvc.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>*@
    <link href="~/Content/admin/admin-font-awesome.css" rel="stylesheet" />
    <link href="~/Content/admin/AdminStyle.css" rel="stylesheet" />
    <link href="~/Content/Admin/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Page.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script>
        window.print()
    </script>
</body>
</html>
