@model IEnumerable<Attendance.Models.Entities.DriverStatusHistory>

@{
    ViewBag.Title = "فهرست وضعیت رانندگان";
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
              {
              columns.Bound(model => model.Id).Title("ردیف");
              columns.Bound(model => model.Driver.FullName);
              columns.Bound(model => model.Driver.NationalCode);
              columns.Bound(model => model.Description);
              columns.Bound(@item => @item.PreviousStatus).Template(@<text>
									 @(item.PreviousStatus?"فعال":"غیرفعال")
									</text>) ;
        columns.Bound(@item => @item.CurrentStatus).Template(@<text>
@(item.CurrentStatus?"فعال":"غیرفعال")
									</text>) ; 
        columns.Bound(item => @item.Id).Title("تاریخ").Filterable(false).Groupable(false)
                      .Template(@<text>	@item.CreationDate.ToShamsi('s')</text>);

              })
        .ToolBar(toolbar =>
        {
        }
        ).HtmlAttributes(new { id = "tbl" })
        .DataSource(dataSource => dataSource
                                    .Server()

                                    .Model(model => model.Id(item => item.Id))
                    )
	)
<script> 
    var counter = 1;
    $('#tbl tr').each(function (index,key) {
        if (index!= 0) {
            console.log($(this.cells)[0])
            $(this.cells)[0].innerText = counter
            counter = counter + 1;
        }
    });
</script>