@model IEnumerable<Attendance.Models.Entities.CardStatusHistory>

@{
    ViewBag.Title = "فهرست وضعیت کارت ها";

    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
                          columns.Bound(model => model.Card.Code).Filterable(true).Sortable(true);
                          columns.Bound(model => model.Card.DisplayCode).Filterable(true).Sortable(true);
                          columns.Bound(model => model.Card.Driver.FullName).Filterable(true).Sortable(true);
         columns.Bound(@item => @item.PreviousStatus).Template(@<text>
									 @(item.PreviousStatus?"فعال":"غیرفعال")
									</text>).Filterable(true).Sortable(true);
                  columns.Bound(@item => @item.CurrentStatus).Template(@<text>
@(item.CurrentStatus?"فعال":"غیرفعال")
									</text>).Filterable(true).Sortable(true);
                           columns.Bound(item => @item.Id).Title("تاریخ").Filterable(true).Sortable(true).Groupable(false)
                               .Template(@<text>	@item.CreationDate.ToShamsi('s')</text>);
					 
		})
		.ToolBar(toolbar =>
					{ 
					}
		)
		.DataSource(dataSource => dataSource
									.Server()

									.Model(model => model.Id(item => item.Id))
					)
	)
