@model IEnumerable<Attendance.Models.Entities.Card>
@using Attendance.Core.Enums
@{
	ViewBag.Title = "فهرست کارت ها";

	Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
        columns.Bound(model => model.DisplayCode);
        columns.Bound(model => model.Driver.FirstName);
        columns.Bound(model => model.Driver.LastName);
        columns.Bound(model => model.Code);
		columns.Bound(item => @item.Id).Title("روز").Filterable(false).Groupable(false)
                      .Template(@<text>	@item.Day.GetDisplayName()</text>).Width(200);
        columns.Bound(model => model.IsActive);
        columns.Bound(item => @item.Id).Title("تاریخ").Sortable(true).Filterable(true).Groupable(false)
                      .Template(@<text>	@item.CreationDate.ToShamsi('s')</text>).Width(200);
        columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
                      .Template(@<text>
									@Html.ActionLink("ویرایش", "Edit", new {id = @item.Id}, new {@class = "k-button"})
									@Html.ActionLink("حذف", "Delete", new {id = @item.Id}, new {@class = "k-button"})
									@*@Html.ActionLink("تعیین روزهای مجاز", "Index","CardDays", new {id = @item.Id}, new {@class = "k-button"})*@
							           </text>).Width(200);
		})
		.ToolBar(toolbar =>
					{
						toolbar.Custom().Action("Create","Cards").Text("افزودن");
					}
		)
		.DataSource(dataSource => dataSource
									.Server()

									.Model(model => model.Id(item => item.Id))
					)
	)
